text, image, rect, arc {
	display: inherit;
}

.background {
  viewport-fill: black;
}

/* Icons and lines */

#icnHeartRateBig { 
  width: 72; 
  height: 72;
  opacity: 1;
}

.statIcon { 
  width: 24; 
  height:24;
  opacity: 1;
}

.statLineBG {
  fill: fb-dark-gray;
  opacity: 1;
  width: 24;
  height: 2;
}

#ProgBgBattery {
  fill: fb-dark-gray;
  opacity: 1;
  width: 17;
  height: 8;
}

.statLineFG {
  opacity: 1;
  width: 12;
  height: 2;
}

#ProgBattery {
  opacity: 1;
  width: 10;
  height: 8;
}

.statArcBG {
  fill: fb-dark-gray;
  opacity: 1;
  width: 76;
  height: 76;
  arc-width: 3;
  start-angle: 10;
  sweep-angle: 340;
}

.statArcFG {
  opacity: 1;
  width: 76;
  height: 76;
  arc-width: 3;
  start-angle: 10;
  sweep-angle: 170;
}

.statArcBlur {
    opacity: 1;
    width: 90;
    height: 90;
    display: none;
    fill: #67e55d;
}

.statArcStar {
    opacity: 1;
    width: 16;
    height: 16;
    display: none;
}

.colHR {
  fill: red;
}

.colBattery {
  fill: white;
}

.colCalories {
  fill: orange;
}

.colActiveMinutes {
  fill: pink;
}

.colSteps {
  fill: cyan;
}

.colDistance {
  fill: lime;
}

.colStairs {
  fill: cyan;
}

/* Stat Text */

.txtStats {
  font-size: 24;
  font-family: "Colfax-Light";  
  text-anchor: middle;
  fill: white;
}

.txtStatsSmall {
  font-size: 18;
  font-family: "Colfax-Light";  
  text-anchor: middle;
  fill: white;
}

#txtHeartRateBig {
  font-size: 96;
  font-family: "Colfax-Light";  
  text-anchor: middle;
  fill: white;
  text-length: 4;
}

#txtHeartRateZone {
  font-size: 24;
  font-family: "Colfax-Light";  
  text-anchor: middle;
  fill: white;
  text-length: 32;  
}

#txtHeartRate {
  text-length: 4;
}

#txtBattery {
  text-length: 4;
}

#txtSteps {
  text-length: 12;
}

#txtFloors {
  text-length: 4;
}

#txtCalories {
  text-length: 8;
}

#txtDistance {
  text-length: 8;
}
#txtActiveMinutes {
  text-length: 8;
}

/* Clock */

#txtHourMin {
  font-size: 96;
  font-family: "Colfax-Light";
  text-length: 8;
  text-anchor: middle;
  fill: white;
}

#txtDate {
  font-size: 24;
  font-family: "Colfax-Light";
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#txtHourMinSmall {
  font-size: 38;
  font-family: "Colfax-Light";
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 28%;
  fill: white;
}

#txtHourMinHeader {
  font-size: 24;
  font-family: "Colfax-Light";
  text-length: 8;
  text-anchor: end;
  fill: white;    
}

#lnSecBG {
  fill: fb-dark-gray;
  opacity: 0.7;
  height: 1;  
}

#lnSec {
  fill: white;
  opacity: 1;
  height: 1;  
}

